.btnMenu {
    width: 100%;
}
.btnMenu .btn-secondary {
    background-color:#8C8C8C;
}
.btnMenu .btn-secondary:hover {
    background-color:#454545;
    border-color: #454545;
}
.adminPanelHeader {
    width: 100%;
    padding-top: 10px;
    color: #454545;
    text-align: center!important;
}
.personalCabHeader {
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}
.userInfo .personalCabHeader {
    text-align: left;
    padding: 0px;
}
.personalCabHeaderRow .col-9 {
    height: 0px;
}
.userInfo {
    padding-left: 30px;
    top:-42px;
}
.row_hello_user {
    padding-bottom: 20px;
}
.row_user_contacts, .row_user_personal {
    padding-bottom: 10px;
}
.row_doc_personal {
    padding-bottom: 25px;
}
.discountInfo {
    padding: 20px 0px;
}

/*Админская часть */
/*Клиенты*/
.clientCabHeader {
    padding-bottom: 10px;
}
.clientsTableHeader,
.couponsTableHeader {
    padding: 15px 0;
    background-color: #8C8C8C;
    border-radius: 5px 5px 0 0;
}
.clientCabSearch {
    text-align: right;
    padding-bottom: 15px;
}
.clientsTableHeader .clientsTableHeaderNickName, .couponsTableHeader .couponsTableHeaderChecker,
.clientsTableHeader .clientsTableHeaderFirstName,.couponsTableHeader .couponsTableHeaderNickName,
.clientsTableHeader .clientsTableHeaderLastName,.couponsTableHeader .couponsTableHeaderFirstName,
.clientsTableHeader .clientsTableHeaderPhone,.couponsTableHeader .couponsTableHeaderLastName,
.clientsTableHeader .clientsTableHeaderEmail,.couponsTableHeader .couponsTableHeaderDiscount,
.clientsTableHeader .clientsTableHeaderCity, .couponsTableHeader .couponsTableHeaderCity {
    text-align: center;
}
.clientsTableRow .clientsTableNickName,
.clientsTableRow .clientsTableFirstName,
.clientsTableRow .clientsTableLastName,
.clientsTableRow .clientsTablePhone,
.clientsTableRow .clientsTableEmail,
.clientsTableRow .clientsTableCity {
    text-align: center;
}
.clientsTableRow {
    padding: 5px 0px;
    border-bottom: 1px solid #8C8C8C;
}
.clientsTableRow:hover {
    background-color: #d4d4d4;
}
.clientsTableBottom {
    padding: 3px 0;
    border-bottom: 1px solid #8C8C8C;
    border-left: 1px solid #8C8C8C;
    border-right: 1px solid #8C8C8C;
    border-radius: 0 0 3px 3px;
}
.clientsTableBottomChecker {
    padding-left: 14px;
}
.clientCheckerAll {
    margin-top: .5rem;
}

.updateRow {
    padding: 5px 0;
    border-bottom: 1px solid #8C8C8C;
}
.updateRow .UpdateHint {
    text-align: center;
}

.updateBtns {
    display: none;
}

/*Управление купонами*/