.btnMenu {
    width: 100%;
}
.btnMenu .btn-secondary {
    background-color:#8C8C8C;
    box-shadow: none!important;
}
.btnMenu .btn-secondary:hover {
    background-color:#454545;
    border-color: #454545;
}
.adminPanelHeader {
    width: 100%;
    padding-top: 10px;
    color: #454545;
    text-align: center!important;
}
.personalCabHeaderRow .col-9 {
    height: 0px;
}
.userInfo {
    padding: 0 15px 0 0;
    top:-42px;
}
.row_hello_user {
    padding-bottom: 20px;
}
.row_user_contacts, .row_user_personal {
    padding-bottom: 10px;
}
.row_doc_personal {
    padding-bottom: 25px;
}
.discountInfo {
    padding: 20px 0px;
}

/*Админская часть */
/*Клиенты*/
.clientCabHeader {
    padding-bottom: 10px;
}
.clientsTableBottomChecker {
    padding-left: 14px;
}
.clientCheckerAll {
    margin-top: .5rem;
}

.updateRow {
    padding: 5px 0;
    border-bottom: 1px solid #8C8C8C;
}
.updateRow .UpdateHint {
    text-align: center;
}

.updateBtns {
    display: none;
}